<form method="post" action="{{ path('app_torneo_delete', {'id': torneo.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este torneo?');" class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ torneo.id) }}">
    <button class="btn-peligro py-1.5 px-4 text-sm">Eliminar</button>
</form>
