<form method="post" action="{{ path('app_jugador_delete', {'id': jugador.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este jugador?');" class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jugador.id) }}">
    <button class="btn-peligro py-1.5 px-4 text-sm">Eliminar</button>
</form>
